@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family:  "Montserrat", sans-serif;;
}

.nav{
     display: flex;
     justify-content: space-around;
     align-items: center;
}
/* .logo{
}
 */
 .middle {
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 50px;
}
 .middle a{
     text-decoration: none;
     color: black;
     font-size: 20px;
     transition: .3s ease;
}
 .middle a:hover{
     color: grey;
}
 .right {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 20px;
}
 .right h3:first-child{
     border: 2px solid black;
     padding: 8px;
     cursor: pointer;
     transition: .3s ease;
}
 .right h3:first-child:hover{
     color: grey;
}
 .right h3{
     transition: .3s ease;
}
 .right h3:hover{
     color: grey;
     cursor: pointer;
}
 i {
     font-size: 25px;
}
 
.hero-section {
    text-align: center;
    padding: 80px;
}

.hero-section title {
    display: flex;
    justify-content: center;
} 

.hero-section .title h1{
    font-size: 45px;
    font-weight: 500;
}

span {
    font-weight: bold;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.hero-section img {
    
}


.hero-section p {
    font-size: 20px;
    margin-left: 300px;
    width: 620px;
    margin-bottom: 50px;
}

.hero-section a:nth-child(3) {
    text-decoration: none;  
    color: white;
    background-color: #0bb9d4;
    padding: 15px;
    font-weight: 700;
    transition: .3s ease;
    border-radius: 5px;
}

.hero-section a:nth-child(3):hover {
    background-color: #09A6BD;
}

